// Layout

body,
html {
  width: 100%;
  height: 100%;
}

.site-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 100%;
  background-color: theme-color("medium-bg");
}

.top-border,
.main,
.site-footer {
  flex-shrink: 0
}

.top-border {
  background-color: theme-color("primary");
  background-image: url(images/topborder.gif);
  background-position: top;
  background-repeat: repeat-x;
  height: 29px;
}

.info-bar,
.content-area {
  background: linear-gradient(to right, theme-color("light-bg") 0%, theme-color("highlight-bg") 100%);
}

.info-bar {
  border-bottom: 1px solid #C7C7AF;
  position: relative;
}

.site-logo img {

  @media (max-width: 575px) {
    width: 130px;
  }

  @media (max-width: 767px) {
    width: 190px;
  }
}

.fb-button {
  position: absolute;
  top: 20px;
  right: 20px;

  @media (min-width: 768px) {
    position: static;
  }

  img {

    @media (max-width: 767px) {
      width: 100px;
    }
  }
}

.map {
  border-top: 1px solid theme-color("primary");
  width: 100%;
}

.content-area {
  border-top: 1px solid theme-color("highlight-bg");
}

@media (min-width: 768px) {
  .info-bar {
    border-right: 1px solid #C7C7AF;
  }

  .content-area {
    border-left: 1px solid theme-color("highlight-bg");
  }
}

.top-nav {

  .nav-link {
    font-size: $font-size-base;
    font-family: $font-family-serif;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }

    @media (min-width: 540px) {
      font-size: $font-size-base * 1.25;
    }

    @media (min-width: 768px) {
      font-size: $font-size-base * 1.5;
    }
  }
}

.site-footer {
  background-color: theme-color("primary");
  color: $white;
  font-size: $font-size-sm;

  a {
    text-decoration: underline;
    color: $white;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}



// Home Content

.featured-item {
  background-color: theme-color("secondary");

  .img-fluid {
    width: 100% !important;
  }

  .subtitle {
    color: theme-color("primary");
    font-size: $font-size-base * 1.5;
    font-family: $font-family-serif;
    font-weight: 700;
  }

  .title {
    color: $body-color;
    font-size: $font-size-base * 2;
    font-family: $font-family-sans-serif;
    font-weight: normal;
  }
}

.info-block {
  background-color: theme-color("secondary");
  padding: $grid-gutter-width * .5;
}



// Page Content

.page-title-box {
  background-color: theme-color("secondary");
  padding: $spacer * .625;
}

.menu-header {

  h2 {
    font-size: $h1-font-size;
  }
}

.menu-description {
  font-style: italic;
  text-align: center;
}

.menu-table {

  tbody td {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px dotted $gray-500;
  }

  .menu-price {
    text-align: right;
    font-weight: 700;
    font-size: $font-size-base;
  }

  .price-head {
    font-size: $font-size-sm;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-align: right;
  }

  .hot-item:before {
    content: '\02660';
    font-size: $font-size-base;
    color: theme-color("danger");
  }
}

.hot-item:before {
  content: '\02660\000A0';
  font-size: $font-size-base;
  color: theme-color("danger");
}
